.links {
    position: fixed;
    height: 5%;
    z-index: 30;
    left: 10px;
    bottom: 45px;
}

.links .main {
    height: 5%;
    width: 20%;
}

.links .help {
    height: 5%;
    width: 40%;
}

.applinks {
    position: fixed;
    height: 5%;
    z-index: 30;
    right: 25px;
    top: 10px;
}

.links a img{
    width: auto;
    height: auto;
}

.reveal img {
    max-height: 60%;
    height: auto;
    width: auto;
}
    
pre #slide2{
    text-align: center;
}

.slidetitles {
    position: fixed;
    width: 100%;
    z-index: 30;
    top: 10px;
}

.auto-style1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}